<!DOCTYPE html>
<html>
<head>
    <title>Sign up page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Welcome, sign up below!</h2>
                <form action="/create-account" method="post">
                    <input type="text" class="form-control"  name="username" placeholder="enter username for creation">
                    <input type="password" class="form-control"  name="password" placeholder="enter a password">
                    <input type="submit" value="Sign up">
                </form>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
